body {
  background-color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.resources h2 {
  margin-top: 0;
}

.resources p {
  font-size: 48px;
  margin: 20px 0;
}

.leaderboard {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}

.leaderboard h2 {
  margin-top: 0;
}

.leaderboard ol {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  font-size: 24px;
  margin-bottom: 10px;
}
